html {
    min-width: 300px;
}


body {
    display: flex; /* required for sticky footer */
    min-height: 100vh;  /* required for sticky footer */
    flex-direction: column; /* required for sticky footer */
}

main {
    flex: 1 0 auto; /* required for sticky footer */
}

h3 {
    font-family: 'Pacifico', cursive;
}

p {
    font-family: 'Quicksand', sans-serif;
}


/* Background Image */
.bgimg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url(../img/bgimg.jpg) center center no-repeat;
    background-size: cover;
    z-index: -1;
}

.bgimg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}


/* Navigation */
.nav-wrapper {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1080px) {
    nav .brand-logo {
        left: 0;
        transform: none;
        -webkit-transform: none;
        position: relative;
        font-size: 1.5rem;
    }
}

/* Links on login/registration */
.small-link {
    text-decoration: underline;
}

.purple-text-hover:hover {
    color: purple !important;
}


/* Footer */
.page-footer {
    border-top: 5px solid #555;
}

/* Flashed Messages */
.flashed-message {
    background-color: #ff9800 !important;
    color: white;
}

/* Main content */
#home-feature {
    margin-top: 10vh;
}

.card-title.bold {
    font-weight: 700;
}

.card img {
    opacity: 0.85;
}

.file-field > div.file-path-wrapper{
    padding-left: 0;
}