<!doctype html>
<html lang="en">

<!-- HTML head include -->
{% include 'head.html' %}

<body>

<!-- Site Background -->
<div class="bgimg"></div>

<!-- HTML header & navigation include -->
{% include 'nav.html' %}

<!-- Flashed messages-->
<div class="center-align">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashed-message">
                    <h5>{{ message }}</h5>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<!-- Content injection block -->
<main class="container">
    {% block content %}{% endblock content %}
</main>

<!-- HTML footer include -->
{% include 'footer.html' %}


<!-- Scripts include -->
{% include 'scripts.html' %}
{% block scripts %}{% endblock scripts %}
</body>
</html>