{% extends 'base.html' %}
{% block content %}


    <div class="row category-row">
        {% for category in categories %}
            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-image">
                        <img src="{{s3_url + category.image }}">
                    </div>
                    <div class="card-content">
                        <span class="bold orange-text card-title">{{ category.name }}</span>
                        <p>{{ category.blurb }}</p>
                    </div>
                    <div class="card-action">
                        {% if endpoint %}
                        <a href="{{ url_for( sorting + '_choice', selection =  category._id) }}">Get Cooking!</a>
                        {% else %}
                        <a href="{{ url_for( sorting + '_choice', selection =  category.name) }}">Get Cooking!</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
