{% extends 'base.html' %}
{% block content %}


    <div class="row category-row">
        {% for category in categories %}
            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='img/'+ category.image) }}">
                    </div>
                    <div class="card-content">
                        <span class="bold orange-text card-title">{{ category.name }}</span>
                        <p>{{ category.blurb }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('chosen_course', course = category.name) }}">Get Cooking!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
