{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <form method="post" action="{{url_for('edit_recipe', selection=recipe._id) }}" enctype="multipart/form-data">
                    <h3>Edit Recipe</h3>
                    {{ form.csrf_token }}
                    {{ form.name.label }} {{ form.name }}
                    <br/>

                    {{ form.ingredients.label }} {{ form.ingredients }}
                    {{ form.instructions.label }} {{ form.instructions }}

                    {{ form.cuisine.label }} {{ form.cuisine }}
                    <br/>

                    {{ form.course.label }} {{ form.course }}
                    <br/>
                    {{ form.submit }}


                </form>

            </div>
        </div>
    </div>
{% endblock content %}
