<footer class="page-footer orange darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">I am ready and eager to work on your new project. Get in touch via
                    LinkedIn or Github!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/bryansmullen" target="_blank"
                           rel="noreferrer noopener">Github</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/bryansmullen" target="_blank"
                           rel="noreferrer noopener">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Bryan S. Mullen
        </div>
    </div>
</footer>