{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="row">
            <div class="col s12 m6 offset-m3">

                <form method="post" action="/recipes/new-recipe/" enctype="multipart/form-data">
                    <h3>New Recipe</h3>
                    {{ form.csrf_token }}
                    {{ form.name.label }} {{ form.name }}
                    <br/>

                    {{ form.ingredients.label }} {{ form.ingredients }}
                    {{ form.instructions.label }} {{ form.instructions }}
                    {{ form.image.label }} {{ form.image }}

                    {{ form.cuisine.label }} {{ form.cuisine }}
                    {{ form.course.label }} {{ form.course }}
                    {{ form.submit }}


                </form>
            </div>
        </div>
    </div>
{% endblock content %}
