{% extends 'base.html' %}
{% block content %}
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header"><i class="material-icons">input</i>Actions</div>
            <div class="collapsible-body white">
                <a href="{{ url_for('edit_recipe', selection=recipe._id) }}">
                    <button>Edit</button>
                </a>

                <form method="post" action="{{ url_for('delete_recipe', selection=recipe._id) }}">
                    <button>Delete</button>
                </form>
            </div>

        </li>
        <li class="active">
            <div class="collapsible-header"><i class="material-icons">food_bank</i>Ingredients</div>
            <div class="collapsible-body white">
                <p>
                    {{ recipe.ingredients }}
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">list</i>Preparation</div>
            <div class="collapsible-body white">
                <p>
                    {{ recipe.instructions }}
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">star</i>Rating</div>
            <div class="collapsible-body white"><span>Average rating: {{ average_rating }}</span></div>
        </li>
    </ul>

{% endblock content %}
